/* Body */
body {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    padding: 10px;
}

/* Heading H1 */
h1 {
    text-align: center;
    color: orange;
}

/* Images */
img {
    display: block;
    margin: auto;
    width: 100%;
}

